.pageContainer {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.form {
  width: min(400px, 650px);
  padding: 3rem;
  margin: auto;
  margin-bottom: 0;
  margin-top: 3rem;
  color: inherit;
  background-color: #cfd8dc;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.message {
  width: min(400px, 650px);
  position: absolute !important;
  top: 10px;
  left: 15%;
  right: 15%;
  z-index: 3000;
}

.smallFont {
  font-size: .7rem;
  font-weight: 500;
}