.container {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: min(350px, 650px);
  border: 1px solid rgb(178, 178, 178);
  padding: 20px;
}

.smallFont {
  font-size: .7rem;
  font-weight: 700;
}